@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .trapezoid {
    border-bottom: 50px solid rgb(253, 44, 44);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
}
